name: Release Drafter
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: release drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-config.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get draft release information
        id: get_release_information
        run: |
          echo "Release HTML URL: ${{ steps.release_drafter.outputs.html_url  }}"
          echo "Release ID: ${{ steps.release_drafter.outputs.id  }}"

      - name: send custom message with args
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          args: Push 테스트중
